{% extends "layouts/dwp-main.html" %}

{% set prevURL = "./claimant-details" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Referral details</h1>



        <form method="post" action="#">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Benefit type
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="benefit_type" name="benefitType" type="radio" value="ESA" {% if data.benefitType === 'ESA' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="benefit_type">
                                ESA
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="benefit_type-2" name="benefitType" type="radio" value="PIP" {% if data.benefitType === 'PIP' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="benefit_type-2">
                                PIP
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="benefit_type-3" name="benefitType" type="radio" value="PIP_SERVICE" {% if data.benefitType === 'PIP_SERVICE' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="benefit_type-3">
                                PIP Service
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="benefit_type-4" name="benefitType" type="radio" value="UC" {% if data.benefitType === 'UC' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="benefit_type-4">
                                UC
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="referring_system_referral_id">
                    Referral ID
                </label>

                <input class="govuk-input govuk-input--width-35" id="referring_system_referral_id" value="{{ data.referralSystemReferralId }}"  name="referralSystemReferralId" type="text" autocomplete="off" data-hidden="true" />
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="claim_reference_number">
                    Claim reference number
                </label>

                <input class="govuk-input govuk-input--width-35" id="claim_reference_number" value="{{ data.claimReferenceNumber }}" name="claimReferenceNumber" type="text" autocomplete="off" data-benefit-type="PIP" data-hidden="true" />
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Referral type
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">


                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type" name="referralType" type="radio" {% if data.referralType === 'NEW_REFERRAL_ADVANCE_CLAIM' %}checked{% endif %} value="NEW_REFERRAL_ADVANCE_CLAIM"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type">
                                Advance claim referral
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type-2" name="referralType" type="radio" {% if data.referralType === 'ADVICE' %}checked{% endif %} value="ADVICE"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-2">
                                Advice
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true"  class="govuk-radios__input" id="referral_type-3" name="referralType" type="radio" {% if data.referralType === 'NEW_REFERRAL_APPEAL' %}checked{% endif %} value="NEW_REFERRAL_APPEAL"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-3">
                                Appeal
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true"  class="govuk-radios__input" id="referral_type-4" name="referralType" type="radio" {% if data.referralType === 'NEW_REFERRAL_AWARD_REVIEW' %}checked{% endif %} value="NEW_REFERRAL_AWARD_REVIEW"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-4">
                                Award review
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true"  class="govuk-radios__input" id="referral_type-5" name="referralType" type="radio" {% if data.referralType === 'NEW_REFERRAL_COC_REVIEW' %}checked{% endif %} value="NEW_REFERRAL_COC_REVIEW"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-5">
                                CoC review
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="referral_type-6" name="referralType" type="radio" {% if data.referralType === 'NEW_REFERRAL' %}checked{% endif %} value="NEW_REFERRAL" />
                            <label class="govuk-label govuk-radios__label" for="referral_type-6">
                                New referral
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true"  class="govuk-radios__input" id="referral_type-7" name="referralType" type="radio" {% if data.referralType === 'NEW_REFERRAL_REASSESSMENT' %}checked{% endif %} value="NEW_REFERRAL_REASSESSMENT"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-7">
                                New referral reassessment
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true"  class="govuk-radios__input" id="referral_type-8" name="referralType" type="radio" {% if data.referralType === 'NEW_REFERRAL_RECONSIDERATION' %}checked{% endif %} value="NEW_REFERRAL_RECONSIDERATION"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-8">
                                Reconsideration
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="referral_type-9" name="referralType" type="radio" {% if data.referralType === 'RE_REFERRAL' %}checked{% endif %} value="RE_REFERRAL" />
                            <label class="govuk-label govuk-radios__label" for="referral_type-9">
                                Re-referral
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true"  class="govuk-radios__input" id="referral_type-10" name="referralType" type="radio" {% if data.referralType === 'RE_REFERRAL_ADVANCE_CLAIM' %}checked{% endif %} value="RE_REFERRAL_ADVANCE_CLAIM"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-10">
                                Re-referral advance claim
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true"  class="govuk-radios__input" id="referral_type-11" name="referralType" type="radio" {% if data.referralType === 'RE_REFERRAL_APPEAL' %}checked{% endif %} value="RE_REFERRAL_APPEAL"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-11">
                                Re-referral appeal
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type-12" name="referralType" type="radio" {% if data.referralType === 'RE_REFERRAL_AWARD_REVIEW' %}checked{% endif %} value="RE_REFERRAL_AWARD_REVIEW"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-12">
                                Re-referral award review
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type-13" name="referralType" type="radio" {% if data.referralType === 'RE_REFERRAL_COC_REVIEW' %}checked{% endif %} value="RE_REFERRAL_COC_REVIEW"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-13">
                                Re-referral CoC review
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type-14" name="referralType" type="radio" {% if data.referralType === 'RE_REFERRAL_REASSESSMENT' %}checked{% endif %} value="RE_REFERRAL_REASSESSMENT"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-14">
                                Re-referral reassessment
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type-15" name="referralType" type="radio" {% if data.referralType === 'RE_REFERRAL_RECONSIDERATION' %}checked{% endif %} value="RE_REFERRAL_RECONSIDERATION"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-15">
                                Re-referral reconsideration
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type-16" name="referralType" type="radio" {% if data.referralType === 'REWORK' %}checked{% endif %} value="REWORK"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-16">
                                Rework
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input data-benefit-type="PIP" data-hidden="true" class="govuk-radios__input" id="referral_type-17" name="referralType" type="radio" {% if data.referralType === 'REWORK_INDEPENDENT_AUDIT' %}checked{% endif %} value="REWORK_INDEPENDENT_AUDIT"  />
                            <label class="govuk-label govuk-radios__label" for="referral_type-17">
                                Rework independent audit
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Consent for further medical evidence given?
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fme_consent_given" name="fmeConsentGiven" type="radio" value="YES" {% if data.fmeConsentGiven === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="fme_consent_given">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fme_consent_given-2" name="fmeConsentGiven" type="radio" value="NO" {% if data.fmeConsentGiven === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="fme_consent_given-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fme_consent_given-3" name="fmeConsentGiven" type="radio" value="NOT_KNOWN" {% if data.fmeConsentGiven === 'NOT_KNOWN' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="fme_consent_given-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Safety measures
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ucb_ind" name="ucbInd" type="radio" value="YES" {% if data.ucbInd === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="ucb_ind">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ucb_ind-2" name="ucbInd" type="radio" value="NO"  {% if data.ucbInd === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="ucb_ind-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ucb_ind-3" name="ucbInd" type="radio" value="NOT_KNOWN" {% if data.ucbInd === 'NOT_KNOWN' or not data.ucbInd %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="ucb_ind-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" id="mental_health_ind_id" data-benefit-type="ESA" data-hidden="true">
                    <legend class="govuk-fieldset__legend">
                        Mental health condition
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mental_health_ind" name="mentalHealthInd" type="radio" value="YES" {% if data.mentalHealthInd === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="mental_health_ind">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mental_health_ind-2" name="mentalHealthInd" type="radio" value="NO" {% if data.mentalHealthInd === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="mental_health_ind-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mental_health_ind-3" name="mentalHealthInd" type="radio" value="NOT_KNOWN" {% if data.mentalHealthInd === 'NOT_KNOWN' or not data.mentalHealthInd %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="mental_health_ind-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        SREL
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="srti" name="isSrti" type="radio" value="YES" {% if data.isSrti === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="srti">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="srti-2" name="isSrti" type="radio" value="NO" {% if data.isSrti === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="srti-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Requires additional support?
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="requires_additional_support" name="requiresAdditionalSupport" type="radio" value="YES" {% if data.requiresAdditionalSupport === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="requires_additional_support">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="requires_additional_support-2" name="requiresAdditionalSupport" type="radio" value="NO" {% if data.requiresAdditionalSupport === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="requires_additional_support-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="requires_additional_support-3" name="requiresAdditionalSupport" type="radio" value="NOT_KNOWN" {% if data.requiresAdditionalSupport === 'NOT_KNOWN' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="requires_additional_support-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="referral_date-hint">
                    <legend class="govuk-fieldset__legend">
                        Referral date
                    </legend>

                    <div id="referral_date-hint" class="govuk-hint">
                        For example, 26 3 2025
                    </div>

                    <div class="govuk-date-input" id="referral_date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="referral_date-Day">
                                    Day
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="referral_date-Day" value="{{ data['referralDate-Day'] }}" name="referralDate-Day" type="text" value="3" autocomplete="off" inputmode="numeric" />
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="referral_date-Month">
                                    Month
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="referral_date-Month" value="{{ data['referralDate-Month'] }}" name="referralDate-Month" type="text" value="4" autocomplete="off" inputmode="numeric" />
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="referral_date-Year">
                                    Year
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="referral_date-Year" value="{{ data['referralDate-Year'] }}" name="referralDate-Year" type="text" value="2025" autocomplete="off" inputmode="numeric" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script>
(function () {
  const benefitType = document.querySelectorAll('input[name="benefitType"]');
  const dataHiddenRadios = document.querySelectorAll(
    '[type="radio"][data-hidden="true"]',
  );
  const referralId = document.querySelectorAll(
    "#referring_system_referral_id",
  )[0];
  const dataBenefitTypePip = document.querySelectorAll(
    '[data-benefit-type="PIP"]',
  );
  const dataBenefitTypeEsa = document.querySelectorAll(
    '[data-benefit-type="ESA"]',
  );
  const referralTypeChecked = document.querySelector(
    '[name="referralType"]:checked',
  );

  if (benefitType.length) {
    if (
      document.querySelector('input[name="benefitType"]:checked')?.value ===
      "PIP"
    ) {
      dataHiddenRadios.forEach((e) => {
        e.setAttribute("data-hidden", "false");
      });
      referralId.setAttribute("data-hidden", "true");
      document
        .querySelectorAll("#claim_reference_number")[0]
        .setAttribute("data-hidden", "false");
    } else if (
      !document.querySelectorAll('input[name="benefitType"]:checked').length
    ) {
      referralId.setAttribute("data-hidden", "true");
    } else {
      dataHiddenRadios.forEach((e) => {
        e.setAttribute("data-hidden", "true");
      });
      referralId.setAttribute("data-hidden", "false");
    }

    if (
      document.querySelector('input[name="benefitType"]:checked')?.value ===
      "ESA"
    ) {
      dataBenefitTypeEsa.forEach((e) => {
        e.setAttribute("data-hidden", "false");
      });
    } else {
      dataBenefitTypeEsa.forEach((e) => {
        e.setAttribute("data-hidden", "true");
      });
    }

    benefitType.forEach((elem) => {
      elem.addEventListener("change", function (event) {
        if (referralTypeChecked) {
          referralTypeChecked.checked = false;
        }

        if (event.target.value === "PIP") {
          dataBenefitTypePip.forEach((e) => {
            e.setAttribute("data-hidden", "false");
          });
          referralId.setAttribute("data-hidden", "true");
        } else {
          dataBenefitTypePip.forEach((e) => {
            e.setAttribute("data-hidden", "true");
          });
          referralId.setAttribute("data-hidden", "false");
        }

        if (event.target.value === "ESA") {
          dataBenefitTypeEsa.forEach((e) => {
            e.setAttribute("data-hidden", "false");
          });
        } else {
          dataBenefitTypeEsa.forEach((e) => {
            e.setAttribute("data-hidden", "true");
          });
        }
      });
    });
  }
})();
  </script>
{% endblock %}
