{% extends "layouts/dwp-main.html" %}

{% block content %}
<div class="govuk-grid-row" style="margin-top: 40px">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          Referral updated
        </h1>
      </div>
      <p class="govuk-body">
        <a href="./incomplete-referrals" class="govuk-link">
          Update another referral
        </a>
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Go to new referrals to assign page</a>
      </p>
    </div>
  </div>

  {% endblock %}
