{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <h2 class="govuk-heading-m">V1</h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="eventlog/v1/timeline">Timelime</a>
      </li>
      <li>
        <a class="govuk-link" href="/referral/v1/create/claimant-details">Create a new referral</a>
      </li>
      <li>
        <a class="govuk-link" href="/referral/v1/update/referrals">Update an incomplete referral</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">V2</h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/referral/v2/create/claimant-details">Create a new referral</a>
      </li>
      <li>
        <a class="govuk-link" href="/referral/v2/update/incomplete-referrals">Update an incomplete referral</a>
      </li>
    </ul>



    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
